{% extends 'template1.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/quiz.css" />

    <style>
    
   
  
    </style>
{% endblock %}



{% block body %}
    <h2 hidden><u>ID de la room :</u> <span id="roomId">{{ roomId }}</span></h2>
    <h2 hidden><u>Utilisateur actuel :</u> <span id="currentUserId">{{ session.logged.id }}</span></h2>
    <h2 hidden id="currentUserSession" data-user="{{ session.logged|json_encode }}"></h2>
    <h2 hidden id="questions" data-questions="{{ questions }}"></h2>
    <h2 hidden id="answers" data-answers="{{ answers }}"></h2>

    <!-- ============= PARTIE ATTENTE ============= -->
    <section id="waiting">
        <h1 class="my-5"><u>ID de la room :</u> {{ roomId }}</h1>
        <div id="qrcode" class="d-flex justify-content-center"></div>
        <h2 class="my-5">
            <span id="countRequired"></span> joueurs attendus
        </h2>
        <div class="loader">Loading...</div>
        <h2 class="text-decoration-underline">
            <span id="countNow"></span> joueurs présents :
        </h2>
        <ul id="usersList"></ul>
    </section>

    <!-- ============= PARTIE JEU ============= -->
    <section id="game" hidden>
        <h2 class="mt-5"><u>MDJ :</u> <span id="mdj"></span></h2>
        <h1><u>Mon rôle :</u> <span id="whoAmI"></span></h1>
        <hr>

        <h1 class="text-decoration-underline my-4">Tour <span id="numTour">0</span></h1>
        <h5 hidden class="my-4"><u>Bonne réponse :</u> <span id="trueAnswer"></span></h5>

        <div id="repOuverteAdmin">
            <h3><span id="player">JOUEUR</span> propose comme réponse :</h3>
            <h2><span id="reponseProposeeAdmin">RÉPONSE</span></h2>
            <button id="reponseProposeeFaux">FAUX</button>
            <button id="reponseProposeeVrai">VRAI</button>
        </div>

        <h1 class="mb-4">C'est au tour de <span id="currentPlayer" class="text-uppercase"></span></h1>

        <div id="choixDifficulte">
            <h2 class="mb-3 text-decoration-underline">Veuillez choisir une difficulté :</h2>
            <button id="difficulty1" class="btn btn-light">[-1-]</button>
            <button id="difficulty2" class="btn btn-light">[-2-]</button>
            <button id="difficulty3" class="btn btn-light">[-3-]</button>
            <button id="difficulty4" class="btn btn-light">[-4-]</button>
            <button id="difficulty5" class="btn btn-light">[-5-]</button>
            <button id="difficulty6" class="btn btn-light">[-6-]</button>
        </div>

        <div id="affichage">
            <h2><span id="question">QUESTION</span></h2>
            <h3 class="mb-4"><u>Difficulté :</u> <span id="difficulty"></span></h3>
                    
            <!-- 4 réponses -->
            <div id="choix" hidden>
                <h3><u>Réponses possibles :</u></h3>
                <div class="d-inline-flex justify-content-evenly">
                    <h2><button id="reponse1" name="reponse" class="btn btn-warning me-2">RÉPONSE</button></h2>
                    <h2><button id="reponse2" name="reponse" class="btn btn-warning me-2">RÉPONSE</button></h2>
                    <h2><button id="reponse3" name="reponse" class="btn btn-warning me-2">RÉPONSE</button></h2>
                    <h2><button id="reponse4" name="reponse" class="btn btn-warning">RÉPONSE</button></h2>
                </div>
            </div>

            <!-- Vrai ou faux -->
            <div id="vraiFaux" hidden>
                <h2>Vrai ou faux ?</h2>
                <button id="btnFaux">FAUX</button>
                <button id="btnVrai">VRAI</button>
            </div>

            <!-- Réponse ouverte -->
            <div id="repOuverteJoueur" hidden>
                <h3><u>Réponse proposée :</u></h3>
                <input type="text" id="reponseProposee" name="reponseProposee" placeholder="Réponse proposée" required>
                <button id="btnReponseProposee">Valider</button>
            </div>
        </div>

        <hr>
        <h3><u>Tableau des scores :</u></h3>
        <div id="tabScore" class="table table-danger d-flex justify-content-center"></div>
    </section>
{% endblock %}

{% block js %}
    <script src="/assets/js/quiz.js"></script>
    <script src="/assets/js/qrcode.min.js"></script>
    <script>
        new QRCode(document.getElementById("qrcode"), window.location.href);
    </script>
{% endblock %}