{% extends 'template1.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/quiz.css" />

    <style>
    

    </style>
{% endblock %}



{% block body %}
    <h2 hidden><u>ID de la room :</u> <span id="roomId">{{ roomId }}</span></h2>
    <h2 hidden><u>Utilisateur actuel :</u> <span id="currentUserId">{{ session.logged.id }}</span></h2>
    <h2 hidden id="currentUserSession" data-user="{{ session.logged|json_encode }}"></h2>
    <h2 hidden id="questions" data-questions="{{ questions }}"></h2>
    <h2 hidden id="answers" data-answers="{{ answers }}"></h2>

    <!-- ============= PARTIE ATTENTE ============= -->
    <section class="d-sm-flex" id="waiting">
        <div class="col-sm-4 col-12 ">
            <h1 class="my-5 fw-bold"><u>ID de la room :</u> {{ roomId }}</h1>

            <h2 class="my-5 text-decoration-underline " >
                <span id="countRequired"></span> joueurs attendus
            </h2>

            <div id="qrcode" class="d-flex justify-content-center"></div>
            <p style="font-size:80%;font-style: italic;">scannez ce QR code pour rejoindre la room</p>   
        </div>

        <div class="my-5 col-sm-4 col-12">
            <div class="loader">Veuillez patienter...</div>
        </div>
            
        <div class="col-sm-4 col-12 ">
            <h2 class="my-5 text-decoration-underline">
                <span id="countNow"></span> joueurs présents :
            </h2>

            <div class="m-3" id="usersList"></div>
        </div>
    </section>

    <!-- ============= PARTIE JEU ============= -->
    <section id="game" hidden>
        <h5 class="mt-5"><u>MDJ :</u> <span id="mdj"></span></h5>
        <h5><u>Mon rôle :</u> <span id="whoAmI"></span></h5>
        <hr>

        <h1 class="text-decoration-underline my-4">Tour <span id="numTour">0</span></h1>

        <h1 class="mb-4 border border-3 border-dark">C'est au tour de <span id="currentPlayer" class="text-uppercase"></span></h1>

        <div id="choixDifficulte">
            <h2 class="mb-3 text-decoration-underline">Veuillez choisir une difficulté :</h2>
            <button id="difficulty1" name="difficulty" class="btn btn-light">[-1-]</button>
            <button id="difficulty2" name="difficulty" class="btn btn-light">[-2-]</button>
            <button id="difficulty3" name="difficulty" class="btn btn-light">[-3-]</button>
            <button id="difficulty4" name="difficulty" class="btn btn-light">[-4-]</button>
            <button id="difficulty5" name="difficulty" class="btn btn-light">[-5-]</button>
            <button id="difficulty6" name="difficulty" class="btn btn-light">[-6-]</button>
        </div>

        <div id="affichage">
            <h2><span id="question">QUESTION</span></h2>
            <h3 class="mb-4"><u>Difficulté :</u> <span id="difficulty"></span></h3>
            <h5 class="my-4" id="h5TrueAnswer"><u>Bonne réponse :</u> <span id="trueAnswer"></span></h5>
                    
            <!-- 4 réponses -->
            <div id="choix">
                <h3><u>Réponses possibles :</u></h3>
                <div class="d-inline-flex justify-content-evenly">
                    <h2><button id="reponse1" name="reponse" class="btn btn-warning me-2">RÉPONSE</button></h2>
                    <h2><button id="reponse2" name="reponse" class="btn btn-warning me-2">RÉPONSE</button></h2>
                    <h2><button id="reponse3" name="reponse" class="btn btn-warning me-2">RÉPONSE</button></h2>
                    <h2><button id="reponse4" name="reponse" class="btn btn-warning">RÉPONSE</button></h2>
                </div>
            </div>

            <!-- Vrai ou faux -->
            <div id="vraiFaux">
                <h2>Vrai ou faux ?</h2>
                <button id="btnFaux">FAUX</button>
                <button id="btnVrai">VRAI</button>
            </div>

            <!-- Réponse ouverte -->
            <div id="repOuverteJoueur">
                <h3><u>Réponse proposée :</u></h3>
                <input type="text" id="reponseProposee" name="reponseProposee" placeholder="Réponse proposée" required>
                <button id="btnReponseProposee">Valider</button>
            </div>
            
            <div id="repOuverteAdmin">
                <h3><span id="player">JOUEUR</span> propose comme réponse :</h3>
                <h2><span id="reponseProposeeAdmin">RÉPONSE</span></h2>
                <button id="reponseProposeeFaux" class="btn btn-warning">FAUX</button>
                <button id="reponseProposeeVrai" class="btn btn-success">VRAI</button>
            </div>
        </div>

        <hr>
        <h3><u>Tableau des scores :</u></h3>
        <div id="tabScore" class="table table-light d-flex justify-content-center"></div>
    </section>

    <section id="endgame">
    </section>
{% endblock %}

{% block js %}
    <script src="/assets/js/quiz.js"></script>
    <script src="/assets/js/qrcode.min.js"></script>
    <script>
        new QRCode(document.getElementById("qrcode"), window.location.href);
    </script>
{% endblock %}